@import url('../responsive/default.css');
@import url('../responsive/mobile_wide.css') only screen and (min-width: 480px) and (max-width: 767px);	
@import url('../responsive/retina.css') only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2);	
@import url('../responsive/tablet.css') only screen and (min-width: 768px) and (max-width: 991px);	
@import url('../responsive/desktop.css') only screen and (min-width: 992px) and (max-width: 1399px);	
@import url('../responsive/wide.css') only screen and (min-width: 1400px);	


/*	Default: is mobile Layout at 320px.
		Gutters: 24px.
		Outer margins: 12px.
-------------------------------------------------------------------------------
*/
body {
  width: 308px;
  padding-right: 6px;
  padding-left: 6px;
	-webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
}

/* Gutters */
.unit{margin-right:24px;}
.lastUnit{margin-right:0px!important;}

/*	Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 12px.
		Inherits styles from: Default (mobile) Layout.
------------------------------------------------------------
*/
@media only screen and (min-width: 480px) and (max-width: 767px) {	
	body {
		width: 456px;
    padding-right: 12px;
    padding-left: 12px;
    -webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */    
  }
}


/*	Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */

@media 
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) {
	
	body {
	
	}
}


/*	Tablet Layout: 768px (in portrait).
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
	
	body {
		width: 712px;
    padding-right: 28px;
    padding-left: 28px;
  }
	
}


/*	Desktop Layout: 960px (overlaps with tablet in landscape, actually). 
		Gutters: 24px.
		Outer margins: 48px.
		Inherits styles from: Default Layout.
-------------------------------------------------------------------------------
*/
@media only screen and (min-width: 992px) and (max-width: 1399px) {
  body {
  	width: 864px;
    padding-right: 48px;
    padding-left: 48px;
    -webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */    
  }
  
}


/*	Wide Screens Layout: 1400px. 
		Gutters: 24px.
		Outer margins: 48px.
		Inherits styles from: Default Layout.
-------------------------------------------------------------------------------
*/
@media only screen and (min-width: 1400px) {
  body {
  	width: 1304px;
    padding-right: 48px;
    padding-left: 48px;
    -webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */    
  }
  
}

